<header>
  <div class="avatar">
    <%= link_to (image_tag("avatar-aang.jpeg")), root_path  %>
  </div>
  <div class="hdr-bttns">
    <button type="button" name="button" class="bttn-prmry">Bouton 1</button>
    <button type="button" name="button" class="bttn-prmry">Bouton 2</button>
  </div>
</header>
<div class="page-body">
  <nav>
    <ul>
      <li class="tabs">Home</li>
      <li class="tabs">New</li>
      <li class="tabs">Random Page</li>
    </ul>
  </nav>
  <div class="container">
    <div class="card">
      <div class="card-top">
        <div class="card-user">
          <%= link_to (image_tag("Korra.png")), root_path  %>
        </div>
        <div class="card-tag">#Korra</div>
      </div>
      <div class="card-description">
        <h1>Carte 1</h1>
        <p>Ceci est la premiere carte</p>
      </div>
    </div>
    <div class="card">
      <div class="card-top">
        <div class="card-user">
          <%= link_to (image_tag("Korra.png")), root_path  %>
        </div>
        <div class="card-tag">#Aang</div>
      </div>
      <div class="card-description">
        <h1>Carte 1</h1>
        <p>Ceci est la premiere carte</p>
      </div>
    </div>
    <div class="card">
      <div class="card-top">
        <div class="card-user">
          <%= link_to (image_tag("Korra.png")), root_path  %>
        </div>
        <div class="card-tag">#Roku</div>
      </div>
      <div class="card-description">
        <h1>Carte 1</h1>
        <p>Ceci est la premiere carte</p>
      </div>
    </div>
    <div class="card">
      <div class="card-top">
        <div class="card-user">
          <%= link_to (image_tag("Kyoshi.png")), root_path  %>
        </div>
        <div class="card-tag">#Kyoshi</div>
      </div>
      <div class="card-description">
        <h1>Carte 1</h1>
        <p>Ceci est la premiere carte</p>
      </div>
    </div>
  </div>
</div>
<footer>

</footer>
