<header>
  <div class="avatar">
    <%= link_to (image_tag("avatar-aang.jpeg")) %>
  </div>
  <div class="hdr-bttns">
    <button type="button" name="button" class="bttn-prmry">Bouton 1</button>
    <button type="button" name="button" class="bttn-prmry">Bouton 2</button>
  </div>
</header>
<div class="page-body">
  <nav>
    <ul>
      <li class="tabs">
        <a href="#">Home</a>
      </li>
      <li class="tabs">
        <a href="#">New</a>
      </li>
      <li class="tabs">
        <a href="#">Random Page</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <div class="card">
      <div class="card-top">
        <div class="card-user">
          <%= link_to (image_tag("Korra.png")) %>
        </div>
        <div class="card-tag">#Korra</div>
      </div>
      <div class="card-description">
        <h1>Avatar Korra</h1>
        <p>Ceci est la carte de Korra</p>
      </div>
    </div>
    <div class="card">
      <div class="card-top">
        <div class="card-user">
          <%= link_to (image_tag("avatar-aang.jpeg")) %>
        </div>
        <div class="card-tag">#Aang</div>
      </div>
      <div class="card-description">
        <h1>Avatar Aang</h1>
        <p>Ceci est la carte de l'avatar Aang</p>
      </div>
    </div>
    <div class="card">
      <div class="card-top">
        <div class="card-user">
          <%= link_to (image_tag("Roku.jpeg")) %>
        </div>
        <div class="card-tag">#Roku</div>
      </div>
      <div class="card-description">
        <h1>Avatar Roku</h1>
        <p>Ceci est la carte de l'avatar Roku</p>
      </div>
    </div>
    <div class="card">
      <div class="card-top">
        <div class="card-user">
          <%= link_to (image_tag("Kyoshi.png")) %>
        </div>
        <div class="card-tag">#Kyoshi</div>
      </div>
      <div class="card-description">
        <h1>Avatar Kyoshi</h1>
        <p>Ceci est la carte de l'avatar Kyoshi</p>
      </div>
    </div>
  </div>
</div>
<footer>

</footer>
